---
name: "Bake templates"
on: # yamllint disable-line rule:truthy rule:comments
  pull_request: ~
  workflow_dispatch: ~

jobs:
  bake-nautobot-app:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Setup Poetry"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-version: "2.1.3"
      - name: "Bake nautobot-app template"
        run: "poetry run cookiecutter ./nautobot-app --no-input --output-dir ./baked/nautobot-app"
      - name: "Install baked project dependencies"
        working-directory: "baked/nautobot-app/nautobot-app-my-app"
        run: "poetry install"
      - name: "Build and test baked project"
        working-directory: "baked/nautobot-app/nautobot-app-my-app"
        env:
          INVOKE_MY_APP_LOCAL: "True"
        run: |
          poetry run invoke build
          poetry run invoke tests

  bake-nautobot-app-ssot:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Setup Poetry"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-version: "2.1.3"
      - name: "Bake nautobot-app-ssot template"
        run: "poetry run cookiecutter ./nautobot-app-ssot --no-input --output-dir ./baked/nautobot-app-ssot"
      - name: "Install baked project dependencies"
        working-directory: "baked/nautobot-app-ssot/nautobot-app-ssot-system-of-record"
        run: "poetry install"
      - name: "Build and test baked project"
        working-directory: "baked/nautobot-app-ssot/nautobot-app-ssot-system-of-record"
        env:
          INVOKE_NAUTOBOT_SSOT_SYSTEM_OF_RECORD_LOCAL: "True"
        run: |
          poetry run invoke build
          poetry run invoke tests

  bake-nautobot-app-chatops:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Setup Poetry"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-version: "2.1.3"
      - name: "Bake nautobot-app-chatops template"
        run: "poetry run cookiecutter ./nautobot-app-chatops --no-input --output-dir ./baked/nautobot-app-chatops"
      - name: "Install baked project dependencies"
        working-directory: "baked/nautobot-app-chatops/nautobot-app-chatops-my-app"
        run: "poetry install"
      - name: "Build and test baked project"
        working-directory: "baked/nautobot-app-chatops/nautobot-app-chatops-my-app"
        env:
          INVOKE_NAUTOBOT_CHATOPS_MY_APP_LOCAL: "True"
        run: |
          poetry run invoke build
          poetry run invoke tests
