---
name: "Bake templates and run initial tests"
concurrency:  # Cancel any existing runs of this workflow for this same PR
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
on: # yamllint disable-line rule:truthy rule:comments
  pull_request: ~
  workflow_dispatch: ~

jobs:
  bake:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        include:
          - template: "nautobot-app"
            project_slug: "nautobot-app-my-app"
            invoke_local_env: "INVOKE_MY_APP_LOCAL"
          - template: "nautobot-app-ssot"
            project_slug: "nautobot-app-ssot-system-of-record"
            invoke_local_env: "INVOKE_NAUTOBOT_SSOT_SYSTEM_OF_RECORD_LOCAL"
          - template: "nautobot-app-chatops"
            project_slug: "nautobot-app-chatops-my-app"
            invoke_local_env: "INVOKE_NAUTOBOT_CHATOPS_MY_APP_LOCAL"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Setup Poetry"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-version: "2.1.3"
      - name: "Bake ${{ matrix.template }} template"
        run: "poetry run cookiecutter ./${{ matrix.template }} --no-input --output-dir ./baked/${{ matrix.template }}"
      - name: "Install baked project dependencies"
        working-directory: "baked/${{ matrix.template }}/${{ matrix.project_slug }}"
        run: "poetry install"
      - name: "Build and test baked project"
        working-directory: "baked/${{ matrix.template }}/${{ matrix.project_slug }}"
        run: |
          export ${{ matrix.invoke_local_env }}=True
          poetry run invoke build
          poetry run invoke tests
